<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/css/main.css")" />
    <script src="@Url.Content("~/Scripts/jquery-3.1.1.js")"></script>
    <script src="@Url.Content("~/Scripts/main.js")"></script>
</head>
<body>
    @RenderBody()
</body>
</html>